<!DOCTYPE html>
<html>
<head>
  <title>Addressbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Address Book </h1>
<hr/>
<%= yield %>
<hr/>
<%= link_to "All Contacts", contacts_path %>
<%= link_to "Create Contact", new_contact_path %>
<%= link_to "Favourites", contacts_favourites_path %>
</body>
</html>
